<div>
    <h2>Completar con los datos del producto</h2>
    <form id="productForm">
        <input type="text" name="title" placeholder="Nombre del producto"></input>
        <input type="text" name="description" placeholder="Descripción"></input>
        <input type="number" name="price" placeholder="Precio"></input>
        <input type="text" name="code" placeholder="Código del producto"></input>
        <input type="text" name="category" placeholder="Categoría"></input>
        <input type="number" name="stock" placeholder="Stock"></input>
        <input type="text" name="thumbnails" placeholder="Links a imágenes"></input>

        <button type="submit">Enviar</button>
    </form>

</div>

<script src="/js/adminForm.js" ></script>
