<div>
    <div>
        <h1>Gracias por comunicarse con nosotros</h1>
    <input type="text" id="chatbox" placeholder="Ingrese aquí su texto"/>
  </div>

  <div>
    <p id="messages"></p>
  </div>

<a href="/users/products"><button> Home </button></a>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/chat.js"></script>
</div>