<div>
    <h3>Ingresá con github</h3>
    <img src="https://res.cloudinary.com/dvxkjikvk/image/upload/c_scale,w_50/v1705701963/productos/github_logo_bv2o8w.png"></img>
    <a href="/api/jwt/github"><button>Ingresar</button></a>
{{!-- <button type="submit" id="loginGithub">Ingresar</button> --}}
<p>Todavía no te registraste? <a href="/users/register">Ingresá acá</a></p>
<p class="divCentrado">Ya tenés una cuenta? <a href="/"> Ingresá aca</a></p>
</div>

