<div>
<h1>Bienvenido</h1>

<p>Por favor ingresá tu usuario y contraseña</p>
<form id="loginForm">
    <input type="email" name="email" placeholder="Email"></input>
    <input type="password" name="password" placeholder="Contraseña"></input>
    <button type="submit">Ingresar</button>
</form>

<p>¿Olvidaste tu contraseña? <a href="/resetPassword">Ingresá acá</a></p> 

<p>Todavía no te registraste? <a href="/users/register">Ingresá acá</a></p>
<div> <img src="https://res.cloudinary.com/dvxkjikvk/image/upload/c_scale,w_50/v1705701963/productos/github_logo_bv2o8w.png"></img><a href="/github/login">Ingresá con GitHub</a></div>
<a href="/products"><button>Ir a productos</button></a>
<a href="/chat"><button>Ir a chat</button></a>
</div>


<script src="/js/login.js" ></script>