<h1>Por favor ingresar su email y la nueva contraseña</h1>

<form id="resetPass">
    <input name="email" placeholder="Ingrese su email" type="email"> </input>
    <input name="password" placeholder="Ingrese su nueva contraseña" type="password"> </input>
    <input name="repeatPassword" placeholder="Repita su nueva contraseña" type="password"> </input>
    <button type="submit">Enviar</button>
</form>

<script src="/js/resetForm.js"></script>