<div>
    <h2>Por favor, ingrese sus datos</h2>
    <form id="registerForm">
        <input type="text" name="first_name" placeholder="Nombre"></input>
         <input type="text" name="last_name" placeholder="Apellido"></input>
          <input type="number" name="age" placeholder="Edad"></input>
        <input type="email" name="email" placeholder="Email"></input>
        <input type="password" name="password" placeholder="Contraseña"></input>
        <button type="submit">Enviar</button>
    </form>

    <p class="divCentrado">Ya tenés una cuenta? <a href="/"> Ingresá aca</a></p>
</div>

<script src="/js/register.js" ></script>
