<h2>Por favor, ingrese su mail para resetear su contraseña</h2>

<form id="resetForm">
    <input placeholder="Email"  name="email" type="email"></input>
    <button type="submit"> Enviar </button>
</form>

<script src="/js/resetPassword.js" ></script>